body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.parker-title{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    padding-right: 6%;
}

.hire-me-button{
    text-decoration: none;
    font-size: 20px;
    /* background-image: linear-gradient(rgb(255, 175, 25), rgb(110, 108, 108)); */
    background-color: tomato;
    padding: 7px 40px 7px 40px;
    color:white;
    border-radius: 5px;
}


.top-bg{
    background-image: url(images/top-bg.jpg);
    background-repeat: no-repeat;
}


.big-dream-images{
    width: 80%;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.experience-area{
    display: flex;
}

h3{
    color: orange;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experience-item{
    width: 45%;
    margin-left: 4%;
    margin-right: 5%;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;
}


#baby-web-developer{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(255, 145, 20), rgb(233, 200, 11));
    border-image-slice: 1;
}
#web-developer-experience{
    border-left: 5px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.hr{
    margin-top: 30px;
    margin-bottom: 20px;
    color: coral;
}
.footer{
    text-align: center;
    margin-top: 30px;
    color: rgb(11, 166, 194);
}